.classe-mae {
    background-color:rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
}
.cfilho {
    background-color: darkgray;
    height:100px;
    width:100px;
    margin:10px;
}
