body {
    background-color: rgb(12, 43, 78);
    color: white;
    font-size: 20px;
}

p {
    font-size:15px;
    font-family:
}

img {
    width: 250px;
    height: 200px;
}

h3 {
    font-size: 20 px;

}

.header li{
    font-size:20px;
    color: rgb(255, 2, 27)
}

.barra li {
    list-style: none;
    background-color: rgb(11, 36, 64);
}

.header{
    background-color: rgb(11, 36, 64);
    border: 2px solid rgb(0, 0, 0,);
}

.produtos {
    border: 2px solid rgb(29, 84, 108);
    background-color: rgb(26, 61, 100);
}

.produto {
    border: 3px solid rgb(21, 50, 83); 
}
.produto p {
    background-color: red;
}

.footer {
    background-color: lightgray;
    color: black;
}   
.button{
    border-image:linear-gradient(to top, #1d546c, #0c2b4e) 1;
    background-color: rgb(11, 36, 64)
}
.txt1{
    color:rgb(0, 94, 255)
}