.header {
    font-size:20px;
    color: rgb(255, 2, 27);
    display: flex;
    justify-content: space-between;
}
.barra {
    list-style: none;
    background-color: rgb(11, 36, 64);
    border-radius: 5px;
    border: 2px solid rgb(29, 84, 108);
}

.header{
    background-color: rgb(11, 36, 64);
    border: 2px solid rgb(0, 0, 0,);
}
   
.button{
    border-image:linear-gradient(to top, #1d546c, #0c2b4e) 1;
    background-color: rgb(11, 36, 64)
}

body {
    background-color: rgb(12, 43, 78);
    color: white;
    font-size: 20px;
}
.menu{
    background-color: rgb(26, 61, 100);
    border: 2px solid rgb(29, 84, 108);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
img{
    width: 400px;
    height: 400px;
}
.a{
    display: flex;
    flex-direction: row;
}
.descricaoC{
    display: flex;
   
}