.body{
    background-color:rgb(12, 43, 78);
    margin-bottom: 100px;
}
.button{
    background-color: #234C6A;
    color:white;
    border-image:linear-gradient(to top, #1d546c, #0c2b4e) 1;
}
.pass{
    color:white;
}
.username{
    color: white;
}
.header{
    background-color: rgb(11, 36, 64);
    border: 2px solid rgb(0, 0, 0,);
}
.campo{
    background-color: #234C6A;
    border-radius: 5px;
    border-image:linear-gradient(to top, #1d546c, #0c2b4e) 1;
    margin: 5px;
    border: 5px;
    color:white;
    padding-right:20px;
}
.menuprincip{
    background-color: #456882;
    border-radius: 20px;
    margin-right:400px;
    margin-left:400px;
    margin-top:250px;
    margin-bottom:250px;
    align-items: center;
    align-items: justify;
}
.footer{
    padding-top:10px;
    padding-bottom: 10px;
    background-color: lightgray;
    color: black;
}
label{
    margin-top: 1rem;
}
div{
    padding-left: 60px;
}