body {
    background-color: rgb(12, 43, 78);
    color: white;
    font-size: 20px;
}

p {
    font-size:15px;
}

img {
    width: 250px;
    height: 200px;
}

h3 {
    font-size: 20px;

}

.header {
    font-size:20px;
    color: rgb(255, 2, 27);
    display: flex;
    justify-content: space-between;
}

.barra {
    list-style: none;
    background-color: rgb(11, 36, 64);
    border-radius: 5px;
    border: 2px solid rgb(29, 84, 108);
}

.header{
    background-color: rgb(11, 36, 64);
    border: 2px solid rgb(0, 0, 0,);
}

.produtos {
    border: 2px solid rgb(29, 84, 108);
    background-color: rgb(26, 61, 100);
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    padding: 10px;
}

.protuto {
    border: 3px solid rgb(21, 50, 83); 
    display:flex;
    align-items: left;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;

}
.protuto img{
    padding:20px;
}

.footer {
    background-color: lightgray;
    color: black;
}   
.button{
    border-image:linear-gradient(to top, #1d546c, #0c2b4e) 1;
    background-color: rgb(11, 36, 64)
}
.txt1{
    color:rgb(0, 94, 255)
}

.menuprincip{
    background-color: #456882;
    border-radius: 20px;
    margin-right:400px;
    margin-left:400px;
    margin-top:250px;
    margin-bottom:250px;
    align-items: center;
    align-items: justify;
}

.menu{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}